<h1>Main#index</h1>

<%= link_to '식당 찾기', restaurants_path, style:"margin-top:20px", class:"btn btn-primary form-control"%>

<%= link_to '숙소 찾기', accomodations_path, style:"margin-top:20px", class:"btn btn-primary form-control"%>