<h1>Bookmarks#show_accoms</h1>

<div class="container-fluid">
	<%= link_to '전체보기', bookmarks_path %>
	<%= link_to '식당만보기', bookmarks_show_restrs_path	%>
	<%= link_to '숙박만보기', bookmarks_show_accoms_path %>
</div>