<div class="container">
	<div class="btn-group">
		<%= link_to '회원정보', member_path, class:"btn form-control" %>
		<%= link_to '개인정보변경', edit_member_path, class:"btn form-control" %>
		<%= link_to '기록', histories_path, class:"btn form-control" %>
		<%= link_to '즐겨찾기', bookmarks_path, class:"btn form-control" %>
	</div>
</div>